extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='GET' action='/results')
    p
      label(for='findId') User ID:
      input(type='text', id='findId', name='idLabel')

    p
      label(for='todoid') ToDo Item ID:
      input(type='text', id='todoid', name='todoid')
    p
      label(for='todotitle') Title of ToDo Item:
      input(type='text', id='todotitle', name='todotitle')
    p
      label(for='todocomplete') Is the task completed?:
      input(type='text', id='todocomplete', name='todocomplete')
    br
    button Submit
